{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
          Over how many days did your summer school take place?
        </label>
      </h1>

      <form class="form" action="/question4" method="post">



      <div id="event-name-hint" class="govuk-hint">
        Enter number of days between 1 and 30
      </div>
      <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
    </div>
      
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
